<div class="card">
    <div>
        <img src="../assets/images/img_1.jpg" alt="" class="card-img-top">
    </div>

    <div class="divider"></div> <!-- Dấu gạch ngang ở đây -->

    <div class="card-body">
        <h5 class="card-title title">Bộ sưu tập đi vào không gian 4 trong 1 - Bản đặc biệt</h5>
        <h6 class="card-subtitle my-2 text-primary">Còn 12 sản phẩm</h6>
        <p class="card-test description">TKG_001</p>
    </div>

    <div class="card-body">
        <h5 class="card-title test-success">800.000đ
            <span class="text-primary"> -20%
            </span>
        </h5>
        <h6 class="card-subtitle text-danger text-decoration-line-through">
            1.000.000đ
        </h6>
    </div>

    <div class="card-footer d-grid gap-2">
        <button class="btn btn-outline-success" type="button">Add to Cart</button>
    </div>
</div>